body {
    margin: 0;
    height: 100vh;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKXIcTi1Tp6WvNCfT96v1sQ21A9_NoNa_oTg&s'); 
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes moveBackground {
    0% { background-position: 0% 0%; }
    100% { background-position: 100% 100%; }
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
}

#searchCharacterButton, #searchEpisodeButton {
    background-color: rgb(224, 184, 184);
    border-radius: 10px;
    border-color: rgb(233, 238, 237);
    margin-left: 10px;
}

input.form-control {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #c2c50a;
}

#characterCard, #episodeCard {
    display: none;
    width: 18rem;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgb(73, 187, 139);
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    margin: 20px auto;
    backdrop-filter: blur(10px);
}

#characterImage {
    width: 80%;             
    height: auto;           
    margin: 15px auto;      
    border-radius: 10px;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra alrededor para destacarla */
    display: block;         /* Centra la imagen dentro de la tarjeta */
}


.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
